
/*usinage_de_plaque*/
.nav{
    border: 1px solid transparent;
    background-color: black;
    color:white;
}
.drapeau{
    width: 30px;
}
.nav , select{
    border: 1px solid transparent;
    background-color:black;
    color: white;
}
.nav  a{
    color: white;
}
.number{
    color: black;
    text-decoration:underline;
}
h2 ,p ,h5 ,h4 ,h6,h7,h3 , button{
    white-space: nowrap;
}

.icon-button__badge {
    position:absolute;
top:7%;
  
  width: 19px;
  height: 19px;
  background: #F10C14;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.bord{
    border: 1px solid transparent;
    
    background-color:#EEEBEB;
    
}

.quantite{
    color: red;
}

   table{
       width: 100%;
       border: 1px solid transparent;
   }
   .vl_tableau{
      
       background-color: black;
   }
.email{
    color:palevioletred;
    text-decoration: underline;
}
.ajouter_panier{
    border: 1px solid transparent;
    background-color: red;
color: white;
}
.CONTACTEZ-NOUS {
    color: black;
    text-decoration: none;

}

/*home*/
.exemple_prix{
    border: 1px solid transparent;
    background-color: black;
    
   
    
}
.vl{
    border-left: 2px solid black;
    height: 120px;
}
.vl_footer{
    
        border-left: 2px solid gray;
        height: 690px;
    
}

.bord_exemple{
    border: 1px solid transparent;
    background-color: #EEEBEB;
    color: black;
    width: max-content;
    
}

.ENSEIGNE{
    white-space: nowrap;
    
    
}


.text_exemple_prix{
    color: white;
    display: block;
    text-align: center;
    
}
.prix_enseigne{
    color: deepskyblue;
    
}
.prix_enseigne_left{
    color: deepskyblue;
    position: relative;
    left:80px;
}
.img_exmp{
    float:left;
    padding-right:15px;
    

}
.text-left{
    float:left;
    padding-right:15px;
    position: relative;
    left:40px;
}


.boutton_voir{
    color: white;
    border: 3px solid white;
    background-color: transparent;
    
}
.voir{
    position:absolute;
    bottom: 20px;
    
    right:10px;
    
}
.voir_left{
    position: absolute;
    bottom:20px;
    left: 2%;
}
.card{
    border: 1px solid transparent;
    margin: 1rem 0;
    
}

.boutton_voir_enseigne{
     
    color: black;
    border: 3px solid white;
    background-color: white;
    
}
.voir_enseigne{
   left: 30%;
  justify-content: center;
  bottom: 20px;
  position: absolute;
  
 

}
.liste_center{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.menu{
    box-shadow: 0 0 10px rgba(0, 0, 0 , 1);
    border-radius: 25px;
   
    width: max-content;
    display: block;
 
    margin-left: auto;
    margin-right: auto;
background-color: white;


    
}


.boutton_voir_dessous{
    border: 3px solid white;
    color:white;
    background-color: transparent;
   
}
.boutton_voir_bleu{
    border: 3px solid deepskyblue;
    color:deepskyblue;
    background-color: transparent; 
}
.card-texte{
    position: absolute;
    top:10%;
    
}

/*exemple prix*/
.bordure_exemple{
    border: 1px solid transparent;
    background-color: #EEEBEB;
    color: black;
}
.tb{
    display: table;
    width: 100%; /*Optional*/
    table-layout: fixed; /*Optional*/
    border-spacing: 10px; /*Optional*/
}
.underline {
    position: relative;
}
.underline:after{
    content: "";
    position:absolute;
    bottom:-2px;/*position the underline using left and bottom property*/
    left:0;
    width:150px;/* adjust the width of underline as you like*/
    border-bottom:1px solid gray;
}

.button_valider{
    border: 1px solid transparent;
    background-color: gray;
    color: white;
    width: 200px;

}
 .hauteur{
     border: 1px solid transparent;
     background-color: #dcdcdc;
 }
 .button_mettre{
     border: 1px solid transparent;
     background-color: green;
     color: white;
 }